**/*.o
**/*.a
**/tags
session.vim
doc
depcomp
install-sh
missing
INSTALL
aclocal.m4
autom4te.cache
autoscan.log
**/.deps
Makefile
**/Makefile
Makefile.in
**/Makefile.in
configure
configure.scan
config.log
config.status
tests/libsfta.log
tests/libsfta.sum
