	/**
	 * @brief  <TODO:  @todo  Brief description>
	 *
	 * <TODO:  @todo  Verbose description>
	 *
	 * @see  <TODO:  @todo  References>
	 *
	 * @param[in]  name  <TODO:  @todo  Parameter description>
	 *
	 * @returns  <TODO:  @todo  Return value description>
	 */
