###############################################################################
#  Symbolic Finite Tree Automata Library
#
#  Copyright (c) 2011  Ondra Lengal <ilengal@fit.vutbr.cz>
#
#  Description:
#    <TODO: @todo  Description>
#
###############################################################################
